@charset "utf-8";

/* CSS Document*/
body {
	background-color: #171a21;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

section {
	background-color: rgb(15, 15, 15);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav {
	display: none;
	clear: both;
	width: 10%;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav ul li {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin: 5px;
	padding: 14px 20px;
	color: white;
}

nav ul li a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#hamburger {
	float: right;
	padding: 7px 10px;
	margin: 5px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
}

#hamburger:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

.Logo-YZD {
	margin: 5px;
	width: 60px;
	height: 60px;
}

.active {
	color: orange;
	font-weight: bold;
}

.page {
	float: right;
	margin-right: 20px;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	flex-wrap: wrap;
	margin-bottom: -13px;
}

.page a {
	color: #66c0f4;
}

.page a:hover {
	color: #66c0f4;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

footer {
	color: white;
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(15, 15, 15);
	padding: 10px;
	margin-top: 30px;
}

.isi-footer {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 7px;
}

.menu-footer {
	padding: 20px;
	font-weight: bold;
}

.footer-share {
	font-size: 15px;
	font-weight: bold;
}

.share-buttons {
	display: flex;
	justify-content: center;
	cursor: pointer;
	gap: 5px;
}

.share-buttons img {
	width: 40px;
	height: 40px;
}

.pilihan-menu-footer {
	display: inline;
}

.pilihan-menu-footer a {
	font-size: 11px;
	margin: 20px;
}

.menu-footer2 {
	font-weight: bold;
	margin-bottom: 20px;
}

.second-navbar {
	background: linear-gradient(to right, #66c0f4, rgba(34, 23, 68, 0.815));
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 15px;
	list-style: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bolder;
}

.second-navbar li a {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#searchInput {
	width: 250px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #545a5e, rgb(76, 81, 86));
	color: white;
	border-radius: 5px;
	border: 1px solid rgb(128, 128, 128);
	margin-top: 10px;
}

#btn-search {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, #66c0f4, rgba(0, 183, 255, 0.76));
	border-radius: 5px;
	border: 1px solid rgb(128, 128, 128);
	margin: 3px;
}

.logo-search {
	width: 10px;
	height: 10px;
}

/*DropDown*/
.dropdown {
	position: relative;
}

.dropdown-content {
	display: block;
	position: relative;
	z-index: auto;
}

.dropdown-content a {
	gap: 5px;
	text-align: left;
	display: block;
	margin: 10px;
	margin-left: 0;
	font-size: 13px;
	font-weight: 500;
	position: relative;
}

.dropdown-content a:hover {
	text-decoration: underline;
}

/*
.dropdown:hover .dropdown-content {
	display: block;
	padding: 10px;
	margin-top: -10px;
}*/

.nama-second-navbar {
	gap: 20px;
	line-height: 35px;
}

/*
.nav-end {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin-top: 50px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
} */

.nav-end {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	scroll-snap-type: x mandatory;
	gap: 10px;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 100px;
	background: linear-gradient(to bottom, rgb(36, 39, 44), rgb(35, 38, 40));
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: -20px;
}

.nama-nav-end {
	margin: 15px;
	font-size: 13px;
	flex-shrink: 0;
}

.nama-nav-end a {
	color: white;
}

.nama-nav-end a:hover {
	color: yellow;
	background: linear-gradient(to bottom, #34393f, rgba(35, 31, 37, 0.753));
	padding: 15px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.name-category {
	margin-left: 20px;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: -13px;
}

.nav-newreleases {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: sans-serif;
	font-weight: bold;
	margin: 20px;
	margin-top: 30px;
	margin-bottom: -65px;
}

.nama-nav-newreleases a {
	font-size: 15px;
}

.background-1 {
	background: linear-gradient(to bottom, rgb(36, 39, 44), rgb(35, 38, 40));
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sale-wallpaper-newreleases {
	font-size: 11px;
	cursor: pointer;
	background: linear-gradient(to bottom, #2a475e, rgb(27, 40, 56));
	padding: 3px;
	width: max-content;
	color: yellow;
	margin: 0;
}

.free-wallpaper-newreleases {
	font-size: 11px;
	cursor: pointer;
	padding: 3px;
	color: white;
	background: linear-gradient(to bottom, #2a475e, rgb(27, 40, 56));
	width: max-content;
	margin: 0;
}

.icon-os {
	float: right;
	gap: 6px;
	margin-right: -10px;
	margin-top: -20px;
}

.icon-os img {
	width: 16px;
	height: 16px;
}

/* Card Posters */
#card-scrollposters {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 20px;
	gap: 10px;
}

.photo-posters {
	width: 90px;
	height: 115px;
	box-shadow: 5px 5px 5px #171a21;
}

.category {
	flex-wrap: wrap;
	font-size: 9px;
	font-weight: bold;
	color: #66c0f4;
}

.card {
	--background: linear-gradient(to bottom, #34393f, rgba(35, 31, 37, 0.753));
	--cardShadowHover: #171a21;
	--cardShadowActive: #171a21;
	--textColor: white;
	--linkColor: #66c0f4;
	--ratingColor: #faab00;
}

.card {
	font-family: sans-serif;
	width: 275px;
	height: 375px;
	aspect-ratio: 3/4;
	background: var(--background);
	color: var(--textColor);
	padding: 25px;
	transition: box-shadow .5s, transform .5s;
	display: inline-block;
	flex-shrink: 0;
}

.card:hover {
	background-color: #66c0f4;
	transform: translate(-1px, -3px);
}

.card:active {
	background-color: #66c0f4;
	transform: translate(-2px, -4px);
}

.description {
	font-size: 10px;
	font-weight: bold;
}

.card>.icon,
.card>.title,
.card>.description {
	margin-bottom: 0.7em;
	cursor: default;
	user-select: none;
}

.card>.title {
	margin-top: 1.5em;
	font-weight: bold;
}

.card>.description {
	line-height: 1.5em;
	min-height: 6em;
}

.card>.icon {
	font-size: 3em;
	margin-bottom: .2em;
}

.card>.rating {
	font-size: 1.5em;
	margin-bottom: 0.8em;
	color: var(--ratingColor);
	font-weight: bold;
	position: relative;
	width: max-content;
}

.card>.rating:before {
	content: "☆☆☆☆☆";
}

.card>.rating:after {
	content: "★★★★★";
	position: absolute;
	left: 0;
	z-index: 0;
	width: calc(var(--rating) * 1%);
	overflow: hidden;
}

/* Card New Releases */
#card-1 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.11.jpg);
	background-position: center;
	background-size: cover;
}

#card-2 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.10.jpg);
	background-position: center;
	background-size: cover;
}

#card-3 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.9.jpg);
	background-position: center;
	background-size: cover;
}

#card-4 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.8.jpg);
	background-position: center;
	background-size: cover;
}

#card-5 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.7.jpg);
	background-position: center;
	background-size: cover;
}

#card-6 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.6.jpg);
	background-position: center;
	background-size: cover;
}

#card-7 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.5.jpg);
	background-position: center;
	background-size: cover;
}

#card-8 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.4.jpg);
	background-position: center;
	background-size: cover;
}

#card-9 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.3.jpg);
	background-position: center;
	background-size: cover;
}

#card-10 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.2.jpg);
	background-position: center;
	background-size: cover;
}

#card-11 {
	background-image: url(https://iamyzddesign.github.io/asset-1/LABORATORY\ -\ ALIZA\ ROSE\ 1.1.jpg);
	background-position: center;
	background-size: cover;
}

#card-12 {
	background-image: url(https://iamyzddesign.github.io/asset-1/STILL\ ALIVE\ 3\ -\ DR.\ EL\ MONSTRUO\ 1.2.jpg);
	background-position: center;
	background-size: cover;
}

.container-newreleases {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 20px;
	gap: 10px;
}

.photo-newreleases {
	width: 105px;
	height: 135px;
	box-shadow: 5px 5px 5px #171a21;
}

.category-newreleases {
	flex-wrap: wrap;
	font-size: 9px;
	font-weight: bold;
	color: white;
}

.card-newreleases {
	--background: linear-gradient(to bottom, #34393f, rgba(35, 31, 37, 0.753));
	--cardShadowHover: #171a21;
	--cardShadowActive: #171a21;
	--textColor: white;
	--linkColor: #66c0f4;
	--ratingColor: #faab00;
}

.card-newreleases {
	font-family: sans-serif;
	width: 355px;
	height: 455px;
	aspect-ratio: 3/4;
	background: var(--background);
	color: var(--textColor);
	padding: 25px;
	transition: box-shadow .5s, transform .5s;
	display: inline-block;
	margin-top: 35px;
	flex-shrink: 0;
}

.card-newreleases:hover {
	background-color: #66c0f4;
	transform: translate(-1px, -3px);
}

.card-newreleases:active {
	background-color: #66c0f4;
	transform: translate(-2px, -4px);
}

.description {
	font-size: 10px;
	font-weight: bold;
}

.card-newreleases>.icon,
.card-newreleases>.title,
.card-newreleases>.description {
	margin-bottom: 0.7em;
	cursor: default;
	user-select: none;
}

.card-newreleases>.title {
	margin-top: 1.5em;
	font-weight: bold;
}

.card-newreleases>.description {
	line-height: 1.5em;
	min-height: 6em;
}

.card>.icon {
	font-size: 3em;
	margin-bottom: .2em;
}

.card-newreleases>.rating {
	font-size: 1.5em;
	margin-bottom: 0.8em;
	color: var(--ratingColor);
	font-weight: bold;
	position: relative;
	width: max-content;
}

.card-newreleases>.rating:before {
	content: "☆☆☆☆☆";
}

.card-newreleases>.rating:after {
	content: "★★★★★";
	position: absolute;
	left: 0;
	z-index: 0;
	width: calc(var(--rating) * 1%);
	overflow: hidden;
}

@media screen and (max-width: 375px) {
	nav {
		width: 10%;
	}

	#hamburger {
		display: block;
	}

	h1 {
		font-size: 8px;
	}

	h2 {
		font-size: 20px;
	}

	.nama-nav-end {
		font-size: 10px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 667px) {
	.nama-nav-end {
		font-size: 10px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 390px) {
	.nama-nav-end {
		font-size: 10px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 384px) {
	.nama-nav-end {
		font-size: 10px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 1280px) {
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background: linear-gradient(to right, #66c0f4, rgba(34, 23, 68, 0.815));
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 20px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}
	
	.dropdown-content {
		display: none;
		position: relative;
		z-index: 2;
	}
	
	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}
	
	.dropdown-content a:hover {
		text-decoration: underline;
	}

	.dropdown:hover .dropdown-content {
		display: block;
		padding: 10px;
		margin-top: -10px;
	}

	.container-newreleases {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin: 20px;
		gap: 10px;
	}

	.nama-nav-newreleases a {
		font-size: 18px;
	}

	.photo-newreleases {
		width: 110px;
		height: 145px;
		box-shadow: 5px 5px 5px #171a21;
	}
	
	.category {
		flex-wrap: wrap;
		font-size: 9px;
		font-weight: bold;
		color: #66c0f4;
	}
	
	.card-newreleases {
		--background: linear-gradient(to bottom, #34393f, rgba(35, 31, 37, 0.753));
		--cardShadowHover: #171a21;
		--cardShadowActive: #171a21;
		--textColor: white;
		--linkColor: #66c0f4;
		--ratingColor: #faab00;
	}
	
	.card-newreleases {
		font-family: sans-serif;
		width: 800px;
		height: 400px;
		aspect-ratio: 3/4;
		background: var(--background);
		color: var(--textColor);
		padding: 25px;
		transition: box-shadow .5s, transform .5s;
		display: inline-block;
		margin-top: 35px;
		flex-shrink: 0;
	}
	
	.card-newreleases:hover {
		background-color: #66c0f4;
		transform: translate(-1px, -3px);
	}
	
	.card-newreleases:active {
		background-color: #66c0f4;
		transform: translate(-2px, -4px);
	}
	
	.description {
		font-size: 11px;
		font-weight: bold;
	}
	
	.card-newreleases>.icon,
	.card-newreleases>.title,
	.card-newreleases>.description {
		margin-bottom: 0.7em;
		cursor: default;
		user-select: none;
	}
	
	.card-newreleases>.title {
		margin-top: 1.5em;
		font-weight: bold;
	}
	
	.card-newreleases>.description {
		line-height: 1.5em;
		min-height: 6em;
	}
	
	.card>.icon {
		font-size: 3em;
		margin-bottom: .2em;
	}
	
	.card-newreleases>.rating {
		font-size: 1.5em;
		margin-bottom: 0.8em;
		color: var(--ratingColor);
		font-weight: bold;
		position: relative;
		width: max-content;
	}
	
	.card-newreleases>.rating:before {
		content: "☆☆☆☆☆";
	}
	
	.card-newreleases>.rating:after {
		content: "★★★★★";
		position: absolute;
		left: 0;
		z-index: 0;
		width: calc(var(--rating) * 1%);
		overflow: hidden;
	}

	.sale-wallpaper-newreleases {
		font-size: 13px;
		cursor: pointer;
		background: linear-gradient(to bottom, #2a475e, rgb(27, 40, 56));
		padding: 4px;
		width: max-content;
		color: yellow;
		margin: 0;
	}
	
	.free-wallpaper-newreleases {
		font-size: 13px;
		cursor: pointer;
		background: linear-gradient(to bottom, #2a475e, rgb(27, 40, 56));
		padding: 4px;
		width: max-content;
		color: white;
		margin: 0;
	}
	
	.icon-os {
		float: right;
		gap: 6px;
		margin-right: -10px;
		margin-top: -20px;
	}
	
	.icon-os img {
		width: 16px;
		height: 16px;
	}
}

@media screen and (min-width: 720px) {
	.nama-nav-end {
		font-size: 13px;
	}

	footer {
		font-size: 11px;
	}

	.pilihan-menu-footer a {
		font-size: 11px;
	}
}

@media screen and (width: 800px) {
	.second-navbar {
		font-size: 13px;
	}
}

@media screen and (width: 810px) {
	.second-navbar {
		font-size: 13px;
	}
}

@media screen and (width: 360px) {
	.nama-nav-end {
		font-size: 10px;
	}
}