@charset "utf-8";

/* CSS Document*/
body {
	background-color: #00283b;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

section {
	background-color: rgb(15, 15, 15);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav {
	display: none;
	clear: both;
	width: 10%;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav ul li {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin: 5px;
	padding: 14px 20px;
	color: white;
}

nav ul li a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#hamburger {
	float: right;
	padding: 7px 10px;
	margin: 5px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
}

#hamburger:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

.logo {
	font-family: sans-serif;
	color: white;
	font-size: 22px;
	font-weight: bold;
	background: linear-gradient(to right, #fb5b0c 10%, #e6de5f 50%, #fb5b0c 90%);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	text-decoration: none;
	margin: 5px;
}

.Logo-YZD {
	margin: 5px;
	width: 60px;
	height: 60px;
}

.active {
	color: orange;
	font-weight: bold;
}

.aboutme {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 15px;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, #1e1e1e, #23112a);
	padding: 10px;
	margin: 20px;
}

a {
	color: white;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

.nav-skills {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: 20px;
	margin-top: 100px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nama-nav {
	margin: 10px;
}

.card-myskills {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	--background: #fff;
	--cardShadow: rgba(32, 33, 37, .1);
	--cardShadowHover: rgba(0, 0, 0, 0.2);
	--cardShadowActive: rgba(32, 33, 37, .55);
	--cardBorder: #dbdce0;
	--cardBorderActive: #1a73e8;
	--textColor: #202125;
	--linkColor: #1967d2;
	--ratingColor: #faab00;
}

.card {
	font-family: sans-serif;
	width: 200px;
	height: 300px;
	aspect-ratio: 2/3;
	background: var(--background);
	color: var(--textColor);
	border: 1px solid var(--cardBorder);
	padding: 25px;
	box-shadow: 8px 8px 0 var(--cardShadow);
	transition: box-shadow .5s, transform .5s;
	display: inline-block;
	margin: 20px;
	border: 1px solid #23112a;
}

.card:hover {
	transform: translate(-2px, -4px);
	box-shadow: 16px 16px 0 var(--cardShadowHover);
	border: 2px solid #0073e6;
}

.card:active {
	transform: translate(-2px, -4px);
	border: 2px solid var(--cardBorderActive);
	box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.description {
	font-size: 11px;
	font-weight: bold;
}

.logo-skill {
	width: 50px;
	height: 50px;
}

.card>.icon,
.card>.title,
.card>.description {
	margin-bottom: 0.7em;
	cursor: default;
	user-select: none;
}

.card>.title {
	margin-top: 1.5em;
	font-weight: bold;
}

.card>.description {
	line-height: 1.5em;
	min-height: 6em;
}

.card>.icon {
	font-size: 3em;
	margin-bottom: .2em;
}

.card>.rating {
	font-size: 1.5em;
	margin-bottom: 0.8em;
	color: var(--ratingColor);
	font-weight: bold;
	position: relative;
	width: max-content;
}

.card>.rating:before {
	content: "☆☆☆☆☆";
}

.card>.rating:after {
	content: "★★★★★";
	position: absolute;
	left: 0;
	z-index: 0;
	width: calc(var(--rating) * 1%);
	overflow: hidden;
}

footer {
	color: white;
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(15, 15, 15);
	padding: 10px;
	margin-top: 30px;
}

.isi-footer {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 7px;
}

.menu-footer {
	padding: 20px;
	font-weight: bold;
}

.footer-share {
	font-size: 15px;
	font-weight: bold;
}

.share-buttons {
	display: flex;
	justify-content: center;
	cursor: pointer;
	gap: 5px;
}

.share-buttons img {
	width: 40px;
	height: 40px;
}

.pilihan-menu-footer {
	display: inline;
}

.pilihan-menu-footer a {
	font-size: 11px;
	margin: 20px;
}

.menu-sosial-media {
	font-weight: bold;
	margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
	nav {
		width: 10%;
	}

	#hamburger {
		display: block;
	}

	h1 {
		font-size: 8px;
	}

	h2 {
		font-size: 20px;
	}

	.nav-skills {
		font-size: 10px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 667px) {
	.nav-skills {
		font-size: 10px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 390px) {
	.nav-skills {
		font-size: 10px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 384px) {
	.nav-skills {
		font-size: 10px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}

@media screen and (min-width: 720px) {
	.nav-skills {
		display: flex;
		text-align: center;
		justify-content: left;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: white;
		margin: 20px;
		margin-top: 100px;
		background: linear-gradient(to bottom, #0073e6, #00b5ff);
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	}

	footer {
		font-size: 11px;
	}

	.pilihan-menu-footer a {
		font-size: 11px;
	}
}

@media screen and (width: 800px) {
	.nav-skills {
		font-size: 13px;
	}
}

@media screen and (width: 810px) {
	.nav-skills {
		font-size: 13px;
	}
}

@media screen and (width: 360px) {
	.nav-skills {
		font-size: 10px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}
}