@charset "utf-8";

/* CSS Document*/
body {
	background-color: #00283b;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

section {
	background-color: rgb(15, 15, 15);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav {
	display: none;
	clear: both;
	width: 10%;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav ul li {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin: 5px;
	padding: 14px 20px;
	color: white;
}

nav ul li a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#hamburger {
	float: right;
	padding: 7px 10px;
	margin: 5px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
}

#hamburger:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

.store {
	float: right;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	padding: 7px 10px;
	margin: 5px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.logo {
	font-family: sans-serif;
	color: white;
	font-size: 22px;
	font-weight: bold;
	background: linear-gradient(to right, #fb5b0c 10%, #e6de5f 50%, #fb5b0c 90%);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	text-decoration: none;
	margin: 5px;
}

.Logo-YZD {
	margin: 5px;
	width: 60px;
	height: 60px;
}

.active {
	color: orange;
	font-weight: bold;
}

.aboutme {
	margin: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 15px;
	flex-wrap: wrap;
	margin-right: 25px;
	margin-left: 25px;
	position: relative;
	animation: fall 3s ease-out forwards;
}

a {
	color: white;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

footer {
	color: white;
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(15, 15, 15);
	padding: 10px;
	margin-top: 30px;
}

.isi-footer {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 7px;
}

.menu-footer {
	padding: 20px;
	font-weight: bold;
}

.footer-share {
	font-size: 15px;
	font-weight: bold;
}

.share-buttons {
	display: flex;
	justify-content: center;
	cursor: pointer;
	gap: 5px;
}

.share-buttons img {
	width: 40px;
	height: 40px;
}

.pilihan-menu-footer {
	display: inline;
}

.pilihan-menu-footer a {
	font-size: 11px;
	margin: 20px;
}

.menu-sosial-media {
	font-weight: bold;
	margin-bottom: 20px;
}

.slideshow-container {
	position: relative;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	animation: myAnim 3s ease 0s 1 normal forwards;
}

.slide {
	display: none;
}

.slide img {
	width: 500px;
	height: 600px;
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

.nav-allposters {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: 20px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 17px;
}

#container-allposters {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 20px;
}

#container-allposters img {
	width: 500px;
	height: 600px;
	margin-top: 6px;
	animation: myAnim 3s ease 0s 1 normal forwards;
	border: 1px solid #23112a;
}

.nav-download {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: 20px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 17px;
}

.nav-tshirtdesign {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: 20px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 17px;
}

.nav-thelatestinstore {
	display: flex;
	text-align: center;
	justify-content: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin: 20px;
	margin-top: 100px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nav-end {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	margin-top: 200px;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.nama-nav {
	margin: 10px;
}

.nama-nav-end {
	margin-left: 20px;
}

h3 a {
	text-decoration: none;
}

.container-textures {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	animation: myAnim 3s ease 0s 1 normal forwards;
}

.container-font {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	animation: myAnim 3s ease 0s 1 normal forwards;
}

.container-tshirt {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 20px;
	animation: myAnim 3s ease 0s 1 normal forwards;
}

#card-texture {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, #1e1e1e, #23112a);
	border: 1px solid #23112a;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 10px;
	width: 200px;
	height: 220px;
	margin: 5px;
	margin-top: 6px;
}

#card-texture:hover {
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

#card-texture img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

#card-font {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, #1e1e1e, #23112a);
	border: 1px solid #23112a;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 10px;
	width: 200px;
	height: 220px;
	margin: 5px;
}

#card-font:hover {
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

#card-font img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.nama-file {
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	color: white;
}

#card-saletshirt {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: linear-gradient(to bottom, #1e1e1e, #23112a);
	border: 1px solid #23112a;
	padding: 10px;
	width: 400px;
	height: 480px;
	margin-top: 6px;
}

#card-saletshirt:hover {
	transform: translateY(-3px);
}

#card-saletshirt img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

.nama-produk {
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	color: white;
	margin: 7px;
}

.price {
	font-family: sans-serif;
	font-size: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: orange;
	margin: 5px;
}

.all-card-thelatestinstore {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	scroll-snap-type: x mandatory;
	margin: 20px;
}

.card-thelatestinstore {
	width: 270px;
	height: 275px;
	position: relative;
	background-color: white;
	transition: box-shadow 0.3s, transform 0.3s;
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

.card-thelatestinstore img {
	width: 270px;
	height: 270px;
}

.card-thelatestinstore:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.content {
	padding: 60px;
	text-align: center;
	transition: opacity 0.7s;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(24, 24, 23, 0), rgba(97, 6, 255, 0.8));
	color: #fff;
	opacity: 0;
	font-size: 14px;
	font-family: sans-serif;
}

.content p {
	font-size: 15px;
	font-weight: 700;
}

.card-thelatestinstore:hover .content {
	opacity: 1;
}

.all-card-menu-other {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 70px;
	font-size: 17px;
	font-family: sans-serif;
	font-weight: bold;
}

.card-menu-other {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
}

.card-menu-other .btn {
	display: flex;
	justify-content: center;
	background: linear-gradient(to bottom, #0073e6, #00b5ff);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	width: 300px;
	height: 70px;
	align-items: center;
}

.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.background-1 {
	background: linear-gradient(to bottom, #1e1e1e, #23112a);
}

/* Card Posters */
#card-indoposters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

#card-englishposters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
}

.photo-posters {
	width: 70px;
	height: 95px;
}

/* Card Skills */
#card-myskills {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
}

.card {
	--background: #fff;
	--cardShadow: rgba(32, 33, 37, .1);
	--cardShadowHover: rgba(0, 0, 0, 0.2);
	--cardShadowActive: rgba(32, 33, 37, .55);
	--cardBorder: #dbdce0;
	--cardBorderActive: #1a73e8;
	--textColor: #202125;
	--linkColor: #1967d2;
	--ratingColor: #faab00;
}

.card {
	font-family: sans-serif;
	width: 200px;
	height: 300px;
	aspect-ratio: 2/3;
	background: var(--background);
	color: var(--textColor);
	border: 1px solid var(--cardBorder);
	padding: 25px;
	box-shadow: 8px 8px 0 var(--cardShadow);
	transition: box-shadow .5s, transform .5s;
	display: inline-block;
	margin: 20px;
	border: 1px solid #23112a;
}

.card:hover {
	transform: translate(-2px, -4px);
	box-shadow: 16px 16px 0 var(--cardShadowHover);
	border: 2px solid #0073e6;
}

.card:active {
	transform: translate(-2px, -4px);
	border: 2px solid var(--cardBorderActive);
	box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.link {
	color: #0073e6;
}

.description {
	font-size: 11px;
	font-weight: bold;
}

.logo-skill {
	width: 50px;
	height: 50px;
}

.card>.icon,
.card>.title,
.card>.description {
	margin-bottom: 0.7em;
	cursor: default;
	user-select: none;
}

.card>.title {
	margin-top: 1.5em;
	font-weight: bold;
}

.card>.description {
	line-height: 1.5em;
	min-height: 6em;
}

.card>.icon {
	font-size: 3em;
	margin-bottom: .2em;
}

.card>.rating {
	font-size: 1.5em;
	margin-bottom: 0.8em;
	color: var(--ratingColor);
	font-weight: bold;
	position: relative;
	width: max-content;
}

.card>.rating:before {
	content: "☆☆☆☆☆";
}

.card>.rating:after {
	content: "★★★★★";
	position: absolute;
	left: 0;
	z-index: 0;
	width: calc(var(--rating) * 1%);
	overflow: hidden;
}

.card>.link {
	margin-bottom: 1rem;
	color: var(--linkColor);
	font-size: .8em;
	font-weight: 600;
}

/* Optional ~ Link the whole card */
.card>.link::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card>.link:after {
	display: inline-block;
	margin-left: .3em;
	transition: transform .3s ease-in-out;
}

.card:hover>.link:after {
	transform: translate(.2em, -.2em);
}

button {
	background-color: white;
	font-family: sans-serif;
	font-weight: bold;
	margin: 3px;
	cursor: pointer;
	font-size: 13px;
}

#buyButton1 {
	color: #FFF;
	border: 2px solid orange;
	box-shadow: 0px 0px 0px 1px #0073e6 inset;
	background: linear-gradient(to bottom, #0073e6, #0073e6);
	padding: 5px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}

#buyButton1:hover {
	border: 2px solid orange;
	background-color: #FFF;
	box-shadow: 0px 0px 0px 4px #0073e6 inset;
	letter-spacing: 0.13em;
}

#buyButton1::after {
	background: #FFF;
	border: 0px solid #000;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	/*easeOutCirc*/
	z-index: 1;
}

#buyButton1:hover:after {
	background: #FFF;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}

#downloadButton {
	color: #FFF;
	border: 2px solid orange;
	box-shadow: 0px 0px 0px 1px #0073e6 inset;
	background: linear-gradient(to bottom, #0073e6, #0073e6);
	padding: 5px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}

#downloadButton:hover {
	border: 2px solid orange;
	background-color: #FFF;
	box-shadow: 0px 0px 0px 4px #0073e6 inset;
	letter-spacing: 0.13em;
}

#downloadButton::after {
	background: #FFF;
	border: 0px solid #000;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	/*easeOutCirc*/
	z-index: 1;
}

#downloadButton:hover:after {
	background: #FFF;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}

@media screen and (max-width: 375px) {
	nav {
		width: 10%;
	}

	#hamburger {
		display: block;
	}

	h1 {
		font-size: 8px;
	}

	h2 {
		font-size: 20px;
	}

	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	#card-texture {
		width: 140px;
		height: 160px;
	}

	#card-texture img {
		width: 170px;
		height: 120px;
		object-fit: cover;
	}

	#card-font {
		width: 140px;
		height: 160px;
	}

	#card-font img {
		width: 170px;
		height: 120px;
		object-fit: cover;
	}

	.nama-file {
		font-size: 11px;
		margin: 2px;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 10px;
	}

	.nav-end {
		font-size: 10px;
	}

	#card-saletshirt {
		width: 300px;
		height: 380px;
	}

	#card-saletshirt img {
		width: 300px;
		height: 300px;
		object-fit: cover;
	}

	.nama-produk {
		font-size: 11px;
		margin: 3px;
	}

	button {
		font-size: 10px;
		margin: 2px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.slide img {
		width: 300px;
		height: 400px;
	}

	#container-allposters img {
		width: 300px;
		height: 400px;
	}

	#downloadButton {
		padding: 3px;
	}
}

@media screen and (min-width: 667px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	#card-texture {
		width: 150px;
		height: 170px;
	}

	#card-texture img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	#card-font {
		width: 150px;
		height: 170px;
	}

	#card-font img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	.nama-file {
		font-size: 11px;
		margin: 2px;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 10px;
	}

	.nav-end {
		font-size: 10px;
	}

	#card-saletshirt {
		width: 310px;
		height: 390px;
	}

	#card-saletshirt img {
		width: 310px;
		height: 310px;
		object-fit: cover;
	}

	.nama-produk {
		font-size: 11px;
		margin: 3px;
	}

	button {
		font-size: 10px;
		margin: 2px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.slide img {
		width: 300px;
		height: 400px;
	}

	#container-allposters img {
		width: 300px;
		height: 400px;
	}

	#downloadButton {
		padding: 3px;
	}
}

@media screen and (min-width: 390px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	#card-texture {
		width: 150px;
		height: 170px;
	}

	#card-texture img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	#card-font {
		width: 150px;
		height: 170px;
	}

	#card-font img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	.nama-file {
		font-size: 11px;
		margin: 2px;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 10px;
	}

	.nav-end {
		font-size: 10px;
	}

	#card-saletshirt {
		width: 310px;
		height: 390px;
	}

	#card-saletshirt img {
		width: 310px;
		height: 310px;
		object-fit: cover;
	}

	.nama-produk {
		font-size: 11px;
		margin: 3px;
	}

	button {
		font-size: 10px;
		margin: 2px;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.slide img {
		width: 300px;
		height: 400px;
	}

	#container-allposters img {
		width: 300px;
		height: 400px;
	}

	#downloadButton {
		padding: 3px;
	}
}

@media screen and (min-width: 384px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	#card-texture {
		width: 150px;
		height: 170px;
	}

	#card-texture img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	#card-font {
		width: 150px;
		height: 170px;
	}

	#card-font img {
		width: 180px;
		height: 130px;
		object-fit: cover;
	}

	.nama-file {
		font-size: 11px;
		margin: 2px;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 10px;
	}

	.nav-end {
		font-size: 10px;
	}

	#card-saletshirt {
		width: 310px;
		height: 390px;
	}

	#card-saletshirt img {
		width: 310px;
		height: 310px;
		object-fit: cover;
	}

	.nama-produk {
		font-size: 11px;
		margin: 3px;
	}

	button {
		font-size: 10px;
		margin: 2px;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.slide img {
		width: 300px;
		height: 400px;
	}

	#container-allposters img {
		width: 300px;
		height: 400px;
	}

	#downloadButton {
		padding: 3px;
	}
}

@media screen and (min-width: 720px) {
	.nav-download {
		display: flex;
		text-align: center;
		justify-content: center;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: white;
		margin: 20px;
		background-color: rgb(39, 38, 38);
		padding: 17px;
	}

	#card-texture {
		width: 200px;
		height: 220px;
	}

	#card-texture img {
		width: 200px;
		height: 150px;
		object-fit: cover;
	}

	#card-font {
		width: 200px;
		height: 220px;
	}

	#card-font img {
		width: 200px;
		height: 150px;
		object-fit: cover;
	}

	.nama-file {
		font-size: 15px;
	}

	.nav-allposters {
		display: flex;
		text-align: center;
		justify-content: center;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: white;
		margin: 20px;
		background-color: rgb(39, 38, 38);
		padding: 17px;
	}

	.nav-tshirtdesign {
		display: flex;
		text-align: center;
		justify-content: center;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: white;
		margin: 20px;
		background-color: rgb(39, 38, 38);
		padding: 17px;
	}

	.nav-thelatestinstore {
		font-size: 13px;
	}

	.nav-end {
		font-size: 13px;
	}

	#card-saletshirt {
		width: 400px;
		height: 480px;
	}

	#card-saletshirt img {
		width: 400px;
		height: 400px;
		object-fit: cover;
	}

	.nama-produk {
		font-size: 15px;
	}

	button {
		font-size: 13px;
		margin: 3px;
	}

	footer {
		font-size: 11px;
	}

	.pilihan-menu-footer a {
		font-size: 11px;
	}

	.slide img {
		width: 500px;
		height: 600px;
	}

	#container-allposters img {
		width: 500px;
		height: 600px;
	}

	#downloadButton {
		padding: 5px;
	}

	.container-menu-other .btn {
		width: 250px;
		height: 50px;
	}
}

@media screen and (width: 800px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 13px;
	}

	.nav-end {
		font-size: 13px;
	}
}

@media screen and (width: 810px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 13px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 13px;
	}

	.nav-end {
		font-size: 13px;
	}
}

@media screen and (width: 360px) {
	.nav-download {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	#card-texture {
		width: 130px;
		height: 150px;
	}

	#card-texture img {
		width: 160px;
		height: 110px;
		object-fit: cover;
	}

	#card-font {
		width: 130px;
		height: 150px;
	}

	#card-font img {
		width: 160px;
		height: 110px;
		object-fit: cover;
	}

	.nav-allposters {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-tshirtdesign {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		font-size: 10px;
		justify-content: center;
		align-items: center;
	}

	.nav-thelatestinstore {
		font-size: 10px;
	}

	.nav-end {
		font-size: 10px;
	}

	#card-saletshirt {
		width: 290px;
		height: 370px;
	}

	#card-saletshirt img {
		width: 290px;
		height: 290px;
		object-fit: cover;
	}

	#downloadButton {
		padding: 3px;
	}
}

@keyframes fall {
	0% {
		top: -100px;
		opacity: 0;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes borderAnimation {
	0% {
		border-image-source: linear-gradient(0deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	25% {
		border-image-source: linear-gradient(90deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	50% {
		border-image-source: linear-gradient(180deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	75% {
		border-image-source: linear-gradient(270deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	100% {
		border-image-source: linear-gradient(360deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}
}