@charset "utf-8";

/* CSS Document*/
body {
	background-color: #00283b;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

section {
	background-color: rgb(15, 15, 15);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav {
	display: none;
	clear: both;
	width: 10%;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav ul li {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: bold;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin: 5px;
	padding: 14px 20px;
	color: white;
}

nav ul li a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#hamburger {
	float: right;
	padding: 7px 10px;
	margin: 5px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
}

#hamburger:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#hamburger-size {
	float: right;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	padding: 7px 10px;
	margin: 5px;
	cursor: pointer;
}

#hamburger-size:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

#menu-size {
	flex-wrap: wrap;
	text-align: center;
	cursor: pointer;
	margin-top: 40px;
}

.jenis-resolusi {
	font-family: sans-serif;
	font-size: 13px;
}

.jenis-resolusi:hover {
	transition: all .5s ease 0s;
}

.logo {
	font-family: sans-serif;
	color: white;
	font-size: 22px;
	font-weight: bold;
	background: linear-gradient(to right, #fb5b0c 10%, #e6de5f 50%, #fb5b0c 90%);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	text-decoration: none;
	margin: 5px;
}

.Logo-YZD {
	margin: 5px;
	width: 60px;
	height: 60px;
}

.active {
	color: orange;
	font-weight: bold;
}

.myposters {
	flex-wrap: wrap;
	text-align: center;
	cursor: pointer;
	margin: 50px;
}

.myposters img {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	border: 1px solid #23112a;
}

.myposters img:hover {
	animation: borderAnimation 4s linear infinite;
	border: 2px solid transparent;
}

.page {
	display: flex;
	margin: 30px;
	justify-content: center;
	margin-bottom: 7px;
}

.btn-page {
	margin: 15px;
	background-color: rgb(15, 15, 15);
	padding: 7px;
	border-radius: 15px;
}

.btn-page a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

.btn-page a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a {
	color: white;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

footer {
	color: white;
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(15, 15, 15);
	padding: 10px;
	margin-top: 30px;
}

.isi-footer {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 7px;
}

.menu-footer {
	padding: 20px;
	font-weight: bold;
}

.footer-share {
	font-size: 15px;
	font-weight: bold;
}

.share-buttons {
	display: flex;
	justify-content: center;
	cursor: pointer;
	gap: 5px;
}

.share-buttons img {
	width: 40px;
	height: 40px;
}

.pilihan-menu-footer {
	display: inline;
}

.pilihan-menu-footer a {
	font-size: 11px;
	margin: 20px;
}

.menu-sosial-media {
	font-weight: bold;
	margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
	nav {
		width: 10%;
	}

	#hamburger {
		display: block;
	}

	h1 {
		font-size: 8px;
	}

	.myposters img {
		width: 45%;
		height: 65%;
	}

	footer {
		font-size: 9px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.btn-page {
		padding: 4px;
	}
}

@media screen and (min-width: 667px) {
	.myposters img {
		width: 45%;
		height: 65%;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.btn-page {
		padding: 5px;
	}
}

@media screen and (min-width: 390px) {
	.myposters img {
		width: 45%;
		height: 65%;
	}

	footer {
		font-size: 10px;
	}

	.pilihan-menu-footer a {
		font-size: 9px;
	}

	.btn-page {
		padding: 5px;
	}
}

@media screen and (max-width: 854px) {
	.myposters img {
		width: 45%;
		height: 65%;
	}
}

@media screen and (min-width: 720px) {
	.myposters img {
		width: 30%;
		height: 50%;
	}

	footer {
		font-size: 11px;
	}

	.pilihan-menu-footer a {
		font-size: 11px;
	}

	.btn-page {
		padding: 7px;
	}
}

@keyframes borderAnimation {
	0% {
		border-image-source: linear-gradient(0deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	25% {
		border-image-source: linear-gradient(90deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	50% {
		border-image-source: linear-gradient(180deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	75% {
		border-image-source: linear-gradient(270deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}

	100% {
		border-image-source: linear-gradient(360deg, yellow, #0073e6, blue);
		border-image-slice: 1;
	}
}