@charset "utf-8";

/* CSS Document*/
body {
	background: linear-gradient(to bottom, rgb(36, 39, 44), rgb(35, 38, 40));
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

/* LOGO WEBSITE */
.container-logoweb {
	display: flex;
	justify-content: center;
}

.logo-website {
	width: 100px;
	height: 35px;
	margin: -23px;
	padding-bottom: 9px;
}

/* LOGO WEBSITE */

/* HAMBURGER NAVBAR */
.mobile-menu {
	background-color: #171a21;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	padding: 15px;
	font-family: sans-serif;
	font-size: 20px;
}

.menu-toggle {
	display: flex;
	flex-direction: column;
	width: 26px;
	cursor: pointer;
	padding: 5px;
	margin-top: -34px;
	margin-left: -7px;
}

.menu-icon {
	background-color: #c7d5e0;
	height: 4px;
	margin: 3px 0;
	border-radius: 2px;
}

.menu-content {
	position: fixed;
	left: -250px;
	/* Awalnya berada di luar layar (kiri) */
	top: 0;
	width: 250px;
	height: 100%;
	background-color: #2d2f3d;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	transition: left 0.3s ease;
	/* Efek transisi untuk animasi */
	display: none;
	/* Mulai dalam keadaan tersembunyi */
	z-index: 999;
	/* Di atas overlay dan konten lainnya */
}

.has-submenu {
	border-bottom: 0.3px solid #626365;
}

.has-submenu:hover {
	background-color: #2a475e;
}

.menu-content ul {
	list-style: none;
	padding-left: 0;
}

.menu-content ul li {
	padding: 10px;
}

.menu-content ul li a {
	color: #c7d5e0;
	text-decoration: none;
}

.menu-content ul li.has-submenu>a {
	position: relative;
}

.menu-content ul li.has-submenu>a::after {
	content: "";
	position: absolute;
	right: 10px;
}

.submenu {
	display: none;
	font-size: 15px;
	margin-top: 5px;
}

.submenu li {
	padding-left: 20px;
}

/* Overlay untuk menutupi konten di bawah menu */
#overlay {
	display: none;
	/* Awalnya tidak terlihat */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Warna semi-transparan */
	z-index: 998;
	/* Di bawah menu tapi di atas konten lainnya */
}

/* HAMBURGER NAVBAR */

/* FOOTER */
.footer {
	margin-top: 100px;
	font-family: sans-serif;
	color: #eaeaea;
	font-size: 9px;
	width: 220px;
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
	margin-left: 10px;
}

/* FOOTER */

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* SEARCH ENGINE */
#searchInput {
	width: 95%;
	background-color: #2a475e;
	border-radius: 3px;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
	padding: 5px;
	border: 1px solid rgb(128, 128, 128);
	margin-top: 3px;
	color: #666464;
	font-style: italic;
}

#btn-search {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	width: 27px;
	border-radius: 3px;
	padding: 3px;
	margin: -33px;
}

.logo-search {
	width: 13px;
	height: 13px;
}

/* SEARCH ENGINE */

/* DROPDOWN MENU */
.second-navbar {
	background: linear-gradient(to right, #297aa9, rgb(34, 23, 68));
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 15px;
	list-style: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bolder;
}

.second-navbar li a {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	margin: 10px;
}

.dropdown-content a {
	gap: 5px;
	text-align: left;
	display: block;
	margin: 10px;
	margin-left: 0;
	font-size: 13px;
	font-weight: 500;
	position: relative;
}

.dropdown-content a:hover {
	text-decoration: underline;
}

.nama-second-navbar {
	gap: 20px;
	line-height: 35px;
}

.nama-second-navbar-disable {
	gap: 20px;
	line-height: 35px;
}

h5 {
	margin: -10px;
	cursor: pointer;
	font-size: 13px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5:hover {
	color: rgb(168, 247, 21);
	transition: all .5s ease 0s;
}

/* DROPDOWN MENU */

/* PAGE */
.pagination-container {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 5px;
}

.page-btn,
.page-number {
	background-color: #1a1a1a;
	color: #d1d1d1;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 13px;
}

.page-btn.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.page-number.active {
	background-color: #0078d7;
}

.page-btn:hover,
.page-number:hover {
	background-color: #333;
}

.ellipsis {
	color: #d1d1d1;
	font-size: 13px;
}

/* PAGE */

.nav-end {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	scroll-snap-type: x mandatory;
	gap: 8px;
	font-family: sans-serif;
	font-weight: bolder;
	margin-top: 100px;
	background: linear-gradient(to bottom, rgb(34, 36, 33), rgba(35, 38, 40, 0));
	border-top: 2px solid #2A475E;
	margin-bottom: 10x;
	padding-left: 7px;
	padding-right: 7px;
}

.nav-end::-webkit-scrollbar {
	height: 8px;
}

.nav-end::-webkit-scrollbar-thumb {
	background-color: #830303;
	border-radius: 3px;
}

.nama-nav-end {
	font-size: 15px;
	flex-shrink: 0;
	background: linear-gradient(135deg, rgb(246, 17, 17), rgb(131, 3, 3));
	padding: 13px;
	border-radius: 6px;
	border-top: 2px solid #2A475E;
}

.nama-nav-end a {
	color: white;
}

.nama-nav-end a:hover {
	text-decoration: underline;
	color: #c73232;
}

.nama-nav-end:hover {
	background: linear-gradient(to bottom, rgb(36, 39, 44), rgb(35, 38, 40));
}

.active-nama-nav-end {
	text-decoration: underline;
}

.nav-newreleases {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: sans-serif;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: -10px;
}

.nama-nav-newreleases a {
	font-size: 15px;
	font-weight: 500;
}

/* NEW RELEASES */
.newreleases-wrapper {
	font-family: sans-serif;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	display: flex;
	overflow-x: auto;
	padding-bottom: 20px;
	padding-right: 10px;
	gap: 10px;
}

.card-container::-webkit-scrollbar {
	height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
	background-color: #830303;
	border-radius: 3px;
}

.card {
	background: linear-gradient(135deg, rgb(246, 17, 17), rgb(131, 3, 3));
	border-radius: 3px;
	overflow: hidden;
	width: 280px;
	color: white;
	flex: 0 0 auto;
	box-shadow: 3px 3px 3px #171a21;
}

.card-image img {
	width: 100%;
	height: auto;
}

.card-title {
	margin: 10px;
	margin-bottom: 20px;
	padding: -5px;
	text-align: left;
	font-size: 10px;
}

/* NEW RELEASES */

.background-1 {
	background: linear-gradient(to bottom, rgb(36, 39, 44), rgb(35, 38, 40));
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 20px;
}

/* NEW CARD POSTERS */
.poster-wrapper {
	padding: 10px;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	max-width: max-content;
	margin: 0 auto;
	font-family: sans-serif;
	margin: 10px;
	background: linear-gradient(135deg, rgb(42, 40, 40), rgb(22, 21, 21));
	padding: 10px;
	box-shadow: 0 0 9px 9px rgba(246, 17, 17, 0.3);
}

.poster-card {
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	box-shadow: 3px 3px 3px #171a21;
}

.poster-card img {
	width: 100%;
	height: auto;
	display: block;
}

.poster-name {
	background: linear-gradient(135deg, rgb(246, 17, 17), rgb(131, 3, 3));
	color: white;
	padding: 10px;
	display: flex;
	text-align: left;
	white-space: nowrap;
	font-size: 0.5rem;
}

/* NEW CARD POSTERS */

@media screen and (max-width: 375px) {
	.nama-nav-end {
		font-size: 10px;
	}

	.page-btn,
	.page-number {
		font-size: 10px;
	}
}

@media screen and (min-width: 667px) {}

@media screen and (min-width: 390px) {}

@media screen and (min-width: 384px) {}

@media screen and (min-width: 1280px) {
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background: linear-gradient(to right, #66c0f4, rgba(34, 23, 68, 0.815));
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 10px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}

	.dropdown-content a:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 720px) {
	.second-navbar {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 2px;
		background: linear-gradient(to right, #66c0f4, rgba(34, 23, 68, 0.815));
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		margin: 10px;
		list-style: none;
		font-family: sans-serif;
		font-size: 13px;
		font-weight: bolder;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-content {
		display: none;
	}

	.dropdown-content a {
		gap: 5px;
		text-align: center;
		display: flex;
		margin: 10px;
		margin-left: -10px;
		font-size: 13px;
		font-weight: 500;
		position: relative;
	}

	.dropdown-content a:hover {
		text-decoration: underline;
	}

	/* SEARCH ENGINE */
	#searchInput {
		width: 250px;
	}

	/* SEARCH ENGINE */

	.nama-nav-end {
		font-size: 13px;
	}

	/* NEW CARD POSTERS */
	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		font-family: sans-serif;
	}

	.poster-card {
		border-radius: 3px;
		box-shadow: 3px 3px 3px #171a21;
	}

	.poster-card img {
		width: 230px;
		height: auto;
	}

	.poster-name {
		background: linear-gradient(135deg, rgb(246, 17, 17), rgb(131, 3, 3));
		color: white;
		padding: 10px;
		display: flex;
		text-align: left;
		white-space: nowrap;
		font-size: 10px;
	}

	/* NEW CARD POSTERS */
}

@media screen and (width: 320px) {
	.nama-nav-newreleases a {
		font-size: 0.7rem;
	}
}

@media screen and (width: 360px) {
	.nama-nav-newreleases a {
		font-size: 0.8rem;
	}
}



/* MOBILE DEVICES */
@media (max-width: 480px) {
	.nama-nav-newreleases a {
		font-size: 0.9rem;
	}

	.nama-nav-end {
		font-size: 0.8rem;
		padding: 15px;
	}

	.card-title {
		font-size: 0.7rem;
	}

	.poster-name {
		font-size: 0.7rem;
	}
}